:root {
  --term-fg: #5c6166;
  --term-bg: #fcfcfc;
  --term-0: #6c7380;
  --term-1: #ea6c73;
  --term-2: #86b300;
  --term-3: #f2ae49;
  --term-4: #36a3d9;
  --term-5: #a37acc;
  --term-6: #4cbf99;
  --term-7: #8a9199;
  --term-8: #abb0b6;
  --term-9: #f07171;
  --term-10: #99bf4d;
  --term-11: #f2ae49;
  --term-12: #399ee6;
  --term-13: #b07cc6;
  --term-14: #55c4a0;
  --term-15: #d9d8d7;
}
