:root {
  --term-fg: #bfbdb6;
  --term-bg: #0b0e14;
  --term-0: #11151c;
  --term-1: #ea6c73;
  --term-2: #91b362;
  --term-3: #f9af4f;
  --term-4: #53bdfa;
  --term-5: #cba6f7;
  --term-6: #90e1c6;
  --term-7: #c7c7c7;
  --term-8: #686868;
  --term-9: #f07178;
  --term-10: #aad94c;
  --term-11: #ffb454;
  --term-12: #59c2ff;
  --term-13: #d2a6ff;
  --term-14: #95e6cb;
  --term-15: #ffffff;
}
