:root {
  --term-fg: #c6d0f5;
  --term-bg: #303446;
  --term-0: #51576d;
  --term-1: #e78284;
  --term-2: #a6d189;
  --term-3: #e5c890;
  --term-4: #8caaee;
  --term-5: #f4b8e4;
  --term-6: #81c8be;
  --term-7: #b5bfe2;
  --term-8: #626880;
  --term-9: #e78284;
  --term-10: #a6d189;
  --term-11: #e5c890;
  --term-12: #8caaee;
  --term-13: #f4b8e4;
  --term-14: #81c8be;
  --term-15: #a5adce;
}
