:root {
  --term-fg: #cdd6f4;
  --term-bg: #1e1e2e;
  --term-0: #45475a;
  --term-1: #f38ba8;
  --term-2: #a6e3a1;
  --term-3: #f9e2af;
  --term-4: #89b4fa;
  --term-5: #f5c2e7;
  --term-6: #94e2d5;
  --term-7: #bac2de;
  --term-8: #585b70;
  --term-9: #f38ba8;
  --term-10: #a6e3a1;
  --term-11: #f9e2af;
  --term-12: #89b4fa;
  --term-13: #f5c2e7;
  --term-14: #94e2d5;
  --term-15: #a6adc8;
}
