:root {
  --term-fg: #4c4f69;
  --term-bg: #eff1f5;
  --term-0: #5c5f77;
  --term-1: #d20f39;
  --term-2: #40a02b;
  --term-3: #df8e1d;
  --term-4: #1e66f5;
  --term-5: #ea76cb;
  --term-6: #179299;
  --term-7: #acb0be;
  --term-8: #6c6f85;
  --term-9: #d20f39;
  --term-10: #40a02b;
  --term-11: #df8e1d;
  --term-12: #1e66f5;
  --term-13: #ea76cb;
  --term-14: #179299;
  --term-15: #bcc0cc;
}
