:root {
  --term-fg: #cad3f5;
  --term-bg: #24273a;
  --term-0: #494d64;
  --term-1: #ed8796;
  --term-2: #a6da95;
  --term-3: #eed49f;
  --term-4: #8aadf4;
  --term-5: #f5bde6;
  --term-6: #8bd5ca;
  --term-7: #b8c0e0;
  --term-8: #5b6078;
  --term-9: #ed8796;
  --term-10: #a6da95;
  --term-11: #eed49f;
  --term-12: #8aadf4;
  --term-13: #f5bde6;
  --term-14: #8bd5ca;
  --term-15: #a5adcb;
}
