:root {
  --term-fg: #f8f8f2;
  --term-bg: #282a36;
  --term-0: #21222c;
  --term-1: #ff5555;
  --term-2: #50fa7b;
  --term-3: #f1fa8c;
  --term-4: #bd93f9;
  --term-5: #ff79c6;
  --term-6: #8be9fd;
  --term-7: #f8f8f2;
  --term-8: #6272a4;
  --term-9: #ff6e6e;
  --term-10: #69ff94;
  --term-11: #ffffa5;
  --term-12: #d6acff;
  --term-13: #ff92df;
  --term-14: #a4ffff;
  --term-15: #ffffff;
}
