:root {
  --term-fg: #d3c6aa;
  --term-bg: #2d353b;
  --term-0: #475258;
  --term-1: #e67e80;
  --term-2: #a7c080;
  --term-3: #dbbc7f;
  --term-4: #7fbbb3;
  --term-5: #d699b6;
  --term-6: #83c092;
  --term-7: #d3c6aa;
  --term-8: #504945;
  --term-9: #e67e80;
  --term-10: #a7c080;
  --term-11: #dbbc7f;
  --term-12: #7fbbb3;
  --term-13: #d699b6;
  --term-14: #83c092;
  --term-15: #fdf6e3;
}
