:root {
  --term-fg: #24292e;
  --term-bg: #ffffff;
  --term-0: #24292e;
  --term-1: #d73a49;
  --term-2: #28a745;
  --term-3: #dbab09;
  --term-4: #0366d6;
  --term-5: #5a32a3;
  --term-6: #0598bc;
  --term-7: #6a737d;
  --term-8: #959da5;
  --term-9: #cb2431;
  --term-10: #22863a;
  --term-11: #b08800;
  --term-12: #005cc5;
  --term-13: #6f42c1;
  --term-14: #1b7c83;
  --term-15: #d1d5da;
}
