:root {
  --term-fg: #ebdbb2;
  --term-bg: #282828;
  --term-0: #282828;
  --term-1: #cc241d;
  --term-2: #98971a;
  --term-3: #d79921;
  --term-4: #458588;
  --term-5: #b16286;
  --term-6: #689d6a;
  --term-7: #a89984;
  --term-8: #928374;
  --term-9: #fb4934;
  --term-10: #b8bb26;
  --term-11: #fabd2f;
  --term-12: #83a598;
  --term-13: #d3869b;
  --term-14: #8ec07c;
  --term-15: #ebdbb2;
}
