:root {
  --term-fg: #dcd7ba;
  --term-bg: #1f1f28;
  --term-0: #090618;
  --term-1: #c34043;
  --term-2: #76946a;
  --term-3: #c0a36e;
  --term-4: #7e9cd8;
  --term-5: #957fb8;
  --term-6: #6a9589;
  --term-7: #c8c093;
  --term-8: #727169;
  --term-9: #e82424;
  --term-10: #98bb6c;
  --term-11: #e6c384;
  --term-12: #7fb4ca;
  --term-13: #938aa9;
  --term-14: #7aa89f;
  --term-15: #dcd7ba;
}
