:root {
  --term-fg: #8f93a2;
  --term-bg: #0f111a;
  --term-0: #464b5d;
  --term-1: #ff5370;
  --term-2: #c3e88d;
  --term-3: #ffcb6b;
  --term-4: #82aaff;
  --term-5: #c792ea;
  --term-6: #89ddff;
  --term-7: #a6accd;
  --term-8: #676e95;
  --term-9: #ff5370;
  --term-10: #c3e88d;
  --term-11: #ffcb6b;
  --term-12: #82aaff;
  --term-13: #c792ea;
  --term-14: #89ddff;
  --term-15: #ffffff;
}
