:root {
  --term-fg: #f8f8f2;
  --term-bg: #272822;
  --term-0: #272822;
  --term-1: #f92672;
  --term-2: #a6e22e;
  --term-3: #f4bf75;
  --term-4: #66d9ef;
  --term-5: #ae81ff;
  --term-6: #a1efe4;
  --term-7: #f8f8f2;
  --term-8: #75715e;
  --term-9: #f92672;
  --term-10: #a6e22e;
  --term-11: #f4bf75;
  --term-12: #66d9ef;
  --term-13: #ae81ff;
  --term-14: #a1efe4;
  --term-15: #f9f8f5;
}
