:root {
  --term-fg: #d6deeb;
  --term-bg: #011627;
  --term-0: #011627;
  --term-1: #ef5350;
  --term-2: #22da6e;
  --term-3: #addb67;
  --term-4: #82aaff;
  --term-5: #c792ea;
  --term-6: #21c7a8;
  --term-7: #d6deeb;
  --term-8: #575656;
  --term-9: #ef5350;
  --term-10: #22da6e;
  --term-11: #ffeb95;
  --term-12: #82aaff;
  --term-13: #c792ea;
  --term-14: #7fdbca;
  --term-15: #ffffff;
}
