:root {
  --term-fg: #d8dee9;
  --term-bg: #2e3440;
  --term-0: #3b4252;
  --term-1: #bf616a;
  --term-2: #a3be8c;
  --term-3: #ebcb8b;
  --term-4: #81a1c1;
  --term-5: #b48ead;
  --term-6: #88c0d0;
  --term-7: #e5e9f0;
  --term-8: #4c566a;
  --term-9: #bf616a;
  --term-10: #a3be8c;
  --term-11: #ebcb8b;
  --term-12: #81a1c1;
  --term-13: #b48ead;
  --term-14: #8fbcbb;
  --term-15: #eceff4;
}
