:root {
  --term-fg: #abb2bf;
  --term-bg: #282c34;
  --term-0: #282c34;
  --term-1: #e06c75;
  --term-2: #98c379;
  --term-3: #e5c07b;
  --term-4: #61afef;
  --term-5: #c678dd;
  --term-6: #56b6c2;
  --term-7: #abb2bf;
  --term-8: #5c6370;
  --term-9: #be5046;
  --term-10: #98c379;
  --term-11: #d19a66;
  --term-12: #61afef;
  --term-13: #c678dd;
  --term-14: #56b6c2;
  --term-15: #ffffff;
}
