:root {
  --term-fg: #575279;
  --term-bg: #faf4ed;
  --term-0: #f2e9e1;
  --term-1: #b4637a;
  --term-2: #286983;
  --term-3: #ea9d34;
  --term-4: #56949f;
  --term-5: #907aa9;
  --term-6: #d7827e;
  --term-7: #575279;
  --term-8: #9893a5;
  --term-9: #b4637a;
  --term-10: #286983;
  --term-11: #ea9d34;
  --term-12: #56949f;
  --term-13: #907aa9;
  --term-14: #d7827e;
  --term-15: #cecacd;
}
