:root {
  --term-fg: #e0def4;
  --term-bg: #191724;
  --term-0: #26233a;
  --term-1: #eb6f92;
  --term-2: #31748f;
  --term-3: #f6c177;
  --term-4: #9ccfd8;
  --term-5: #c4a7e7;
  --term-6: #ebbcba;
  --term-7: #e0def4;
  --term-8: #6e6a86;
  --term-9: #eb6f92;
  --term-10: #31748f;
  --term-11: #f6c177;
  --term-12: #9ccfd8;
  --term-13: #c4a7e7;
  --term-14: #ebbcba;
  --term-15: #fffaf3;
}
