:root {
  --term-fg: #657b83;
  --term-bg: #fdf6e3;
  --term-0: #073642;
  --term-1: #dc322f;
  --term-2: #859900;
  --term-3: #b58900;
  --term-4: #268bd2;
  --term-5: #d33682;
  --term-6: #2aa198;
  --term-7: #eee8d5;
  --term-8: #586e75;
  --term-9: #cb4b16;
  --term-10: #586e75;
  --term-11: #657b83;
  --term-12: #839496;
  --term-13: #6c71c4;
  --term-14: #93a1a1;
  --term-15: #fdf6e3;
}
