:root {
  --term-fg: #a9b1d6;
  --term-bg: #1a1b26;
  --term-0: #15161e;
  --term-1: #f7768e;
  --term-2: #9ece6a;
  --term-3: #e0af68;
  --term-4: #7aa2f7;
  --term-5: #bb9af7;
  --term-6: #7dcfff;
  --term-7: #a9b1d6;
  --term-8: #414868;
  --term-9: #f7768e;
  --term-10: #9ece6a;
  --term-11: #e0af68;
  --term-12: #7aa2f7;
  --term-13: #bb9af7;
  --term-14: #7dcfff;
  --term-15: #c0caf5;
}
